USE [master]
GO
/****** Object:  Database [Veysel]    Script Date: 3.10.2026 00:35:07 ******/
CREATE DATABASE [Veysel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Veysel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Veysel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Veysel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Veysel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Veysel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Veysel]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 3.10.2026 00:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](30) NULL,
	[Password] [nvarchar](30) NULL,
	[Email] [nvarchar](50) NULL,
	[Telefon] [nvarchar](20) NULL,
	[AktifMi] [bit] NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Boyut]    Script Date: 3.10.2026 00:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boyut](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BoyutAdi] [nvarchar](20) NULL,
 CONSTRAINT [PK_Boyut] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fatura]    Script Date: 3.10.2026 00:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fatura](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FaturaNo] [nvarchar](30) NULL,
	[SiparisID] [int] NULL,
	[FaturaTarihi] [datetime] NULL,
	[OdenmeDurumu] [bit] NULL,
	[OdemeTipiID] [int] NULL,
	[Aciklama] [nvarchar](max) NULL,
 CONSTRAINT [PK_Fatura] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategori]    Script Date: 3.10.2026 00:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategori](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](20) NULL,
 CONSTRAINT [PK_Kategori] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KategoriUrun]    Script Date: 3.10.2026 00:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KategoriUrun](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NULL,
	[KategoriID] [int] NULL,
 CONSTRAINT [PK_KategoriUrun] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListeFiyat]    Script Date: 3.10.2026 00:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListeFiyat](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NULL,
	[BirimFiyat] [float] NULL,
	[GuncellemeTarihi] [datetime] NULL,
 CONSTRAINT [PK_ListeFiyat] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogTablo]    Script Date: 3.10.2026 00:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogTablo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AdminID] [int] NULL,
	[TabloAdi] [nvarchar](50) NULL,
	[YapilanIslem] [nvarchar](15) NULL,
	[IslemTarihi] [datetime] NULL,
	[Aciklama] [nvarchar](max) NULL,
 CONSTRAINT [PK_LogTablo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materyal]    Script Date: 3.10.2026 00:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materyal](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MateryalAdi] [nvarchar](20) NULL,
 CONSTRAINT [PK_Materyal] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteri]    Script Date: 3.10.2026 00:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteri](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriFirma] [nvarchar](100) NULL,
	[YetkiliAdSoyad] [nvarchar](150) NULL,
	[Telefon] [nvarchar](17) NULL,
	[Email] [nvarchar](100) NULL,
	[Adres] [nvarchar](max) NULL,
	[Toptanmi] [bit] NULL,
	[IskontoOran] [int] NULL,
	[AktifMi] [bit] NULL,
 CONSTRAINT [PK_Musteri] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OdemeTipi]    Script Date: 3.10.2026 00:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OdemeTipi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OdemeTipiAdi] [nvarchar](20) NULL,
 CONSTRAINT [PK_OdemeTipi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SatinAlma]    Script Date: 3.10.2026 00:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SatinAlma](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NULL,
	[TedarikciID] [int] NOT NULL,
	[Adet] [int] NULL,
	[BirimFiyat] [float] NULL,
	[ToplamFiyat] [float] NULL,
	[KDVOrani] [int] NULL,
	[SatinAlmaTarihi] [datetime] NULL,
 CONSTRAINT [PK_SatinAlma] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siparis]    Script Date: 3.10.2026 00:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siparis](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriID] [int] NULL,
	[UrunID] [int] NULL,
	[Adet] [int] NULL,
	[ListeSatisFiyat] [float] NULL,
	[BirimFiyat] [float] NULL,
	[ToplamSatisFiyat] [float] NULL,
	[KDV] [int] NULL,
	[Aciklama] [nvarchar](max) NULL,
	[SiparisTarihi] [nvarchar](15) NULL,
 CONSTRAINT [PK_Siparis] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StokTablo]    Script Date: 3.10.2026 00:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StokTablo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NULL,
	[Stok] [int] NULL,
	[AlarmSeviyesi] [int] NULL,
	[StokAlarm] [bit] NULL,
 CONSTRAINT [PK_Stok Tablo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tedarikci]    Script Date: 3.10.2026 00:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tedarikci](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TedarikciAdi] [nvarchar](30) NULL,
	[Telefon] [nvarchar](17) NULL,
	[Email] [nvarchar](max) NULL,
	[Adres] [nvarchar](max) NULL,
	[VergiDairesi] [nvarchar](50) NULL,
	[VergiNo] [nvarchar](15) NULL,
	[AktifMi] [bit] NULL,
 CONSTRAINT [PK_Tedarikci] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urun]    Script Date: 3.10.2026 00:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urun](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MateryalID] [int] NULL,
	[BoyutID] [int] NULL,
	[UrunAdi] [nvarchar](30) NULL,
	[Aciklama] [nvarchar](max) NULL,
	[AktifMi] [bit] NULL,
 CONSTRAINT [PK_Urun] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([ID], [UserName], [Password], [Email], [Telefon], [AktifMi]) VALUES (1, N'ahmet_admin', N'Pass123!', N'ahmet@firma.com', N'05321112233', 1)
INSERT [dbo].[Admin] ([ID], [UserName], [Password], [Email], [Telefon], [AktifMi]) VALUES (2, N'mehmet_admin', N'Pass456!', N'mehmet@firma.com', N'05332223344', 1)
INSERT [dbo].[Admin] ([ID], [UserName], [Password], [Email], [Telefon], [AktifMi]) VALUES (3, N'zeynep_sistem', N'SysAdmin2026!', N'zeynep@firma.com', N'05343334455', 1)
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Boyut] ON 

INSERT [dbo].[Boyut] ([ID], [BoyutAdi]) VALUES (1, N'Küçük (S)')
INSERT [dbo].[Boyut] ([ID], [BoyutAdi]) VALUES (2, N'Orta (M)')
INSERT [dbo].[Boyut] ([ID], [BoyutAdi]) VALUES (3, N'Büyük (L)')
SET IDENTITY_INSERT [dbo].[Boyut] OFF
GO
SET IDENTITY_INSERT [dbo].[Fatura] ON 

INSERT [dbo].[Fatura] ([ID], [FaturaNo], [SiparisID], [FaturaTarihi], [OdenmeDurumu], [OdemeTipiID], [Aciklama]) VALUES (1, N'FAT2026000000001', 1, CAST(N'2026-10-01T00:00:00.000' AS DateTime), 1, 2, N'Ödeme alındı')
INSERT [dbo].[Fatura] ([ID], [FaturaNo], [SiparisID], [FaturaTarihi], [OdenmeDurumu], [OdemeTipiID], [Aciklama]) VALUES (2, N'FAT2026000000002', 2, CAST(N'2026-10-02T00:00:00.000' AS DateTime), 0, 1, N'Ödeme bekleniyor')
INSERT [dbo].[Fatura] ([ID], [FaturaNo], [SiparisID], [FaturaTarihi], [OdenmeDurumu], [OdemeTipiID], [Aciklama]) VALUES (3, N'FAT2026000000003', 3, CAST(N'2026-10-02T00:00:00.000' AS DateTime), 1, 4, N'15 gün vadeli çek alındı')
SET IDENTITY_INSERT [dbo].[Fatura] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategori] ON 

INSERT [dbo].[Kategori] ([ID], [KategoriAdi]) VALUES (1, N'Ofis Mobilyası')
INSERT [dbo].[Kategori] ([ID], [KategoriAdi]) VALUES (2, N'Aksesuar')
INSERT [dbo].[Kategori] ([ID], [KategoriAdi]) VALUES (3, N'Aydınlatma')
SET IDENTITY_INSERT [dbo].[Kategori] OFF
GO
SET IDENTITY_INSERT [dbo].[KategoriUrun] ON 

INSERT [dbo].[KategoriUrun] ([ID], [UrunID], [KategoriID]) VALUES (1, 1, 1)
INSERT [dbo].[KategoriUrun] ([ID], [UrunID], [KategoriID]) VALUES (2, 2, 1)
INSERT [dbo].[KategoriUrun] ([ID], [UrunID], [KategoriID]) VALUES (3, 3, 2)
SET IDENTITY_INSERT [dbo].[KategoriUrun] OFF
GO
SET IDENTITY_INSERT [dbo].[ListeFiyat] ON 

INSERT [dbo].[ListeFiyat] ([ID], [UrunID], [BirimFiyat], [GuncellemeTarihi]) VALUES (1, 1, 2500, CAST(N'2026-09-01T00:00:00.000' AS DateTime))
INSERT [dbo].[ListeFiyat] ([ID], [UrunID], [BirimFiyat], [GuncellemeTarihi]) VALUES (2, 2, 1200, CAST(N'2026-09-01T00:00:00.000' AS DateTime))
INSERT [dbo].[ListeFiyat] ([ID], [UrunID], [BirimFiyat], [GuncellemeTarihi]) VALUES (3, 3, 150, CAST(N'2026-09-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ListeFiyat] OFF
GO
SET IDENTITY_INSERT [dbo].[LogTablo] ON 

INSERT [dbo].[LogTablo] ([ID], [AdminID], [TabloAdi], [YapilanIslem], [IslemTarihi], [Aciklama]) VALUES (1, 1, N'Urun', N'INSERT', CAST(N'2026-10-01T10:00:00.000' AS DateTime), N'Yeni ürün eklendi')
INSERT [dbo].[LogTablo] ([ID], [AdminID], [TabloAdi], [YapilanIslem], [IslemTarihi], [Aciklama]) VALUES (2, 2, N'Musteri', N'UPDATE', CAST(N'2026-10-02T11:30:00.000' AS DateTime), N'Müşteri telefonu güncellendi')
INSERT [dbo].[LogTablo] ([ID], [AdminID], [TabloAdi], [YapilanIslem], [IslemTarihi], [Aciklama]) VALUES (3, 3, N'Siparis', N'INSERT', CAST(N'2026-10-02T14:15:00.000' AS DateTime), N'Demir Bilişim siparişi girildi')
SET IDENTITY_INSERT [dbo].[LogTablo] OFF
GO
SET IDENTITY_INSERT [dbo].[Materyal] ON 

INSERT [dbo].[Materyal] ([ID], [MateryalAdi]) VALUES (1, N'Ahşap')
INSERT [dbo].[Materyal] ([ID], [MateryalAdi]) VALUES (2, N'Metal')
INSERT [dbo].[Materyal] ([ID], [MateryalAdi]) VALUES (3, N'Plastik')
SET IDENTITY_INSERT [dbo].[Materyal] OFF
GO
SET IDENTITY_INSERT [dbo].[Musteri] ON 

INSERT [dbo].[Musteri] ([ID], [MusteriFirma], [YetkiliAdSoyad], [Telefon], [Email], [Adres], [Toptanmi], [IskontoOran], [AktifMi]) VALUES (1, N'Yılmaz A.Ş.', N'Ali Yılmaz', N'05551112233', N'ali@yilminas.com', N'Ankara', 1, 10, 1)
INSERT [dbo].[Musteri] ([ID], [MusteriFirma], [YetkiliAdSoyad], [Telefon], [Email], [Adres], [Toptanmi], [IskontoOran], [AktifMi]) VALUES (2, N'Kaya Ticaret', N'Ayşe Kaya', N'05552223344', N'ayse@kayaticaret.com', N'İzmir', 0, 0, 1)
INSERT [dbo].[Musteri] ([ID], [MusteriFirma], [YetkiliAdSoyad], [Telefon], [Email], [Adres], [Toptanmi], [IskontoOran], [AktifMi]) VALUES (3, N'Demir Bilişim', N'Burak Demir', N'05553334455', N'burak@demirbilisim.com', N'İstanbul', 1, 15, 1)
SET IDENTITY_INSERT [dbo].[Musteri] OFF
GO
SET IDENTITY_INSERT [dbo].[OdemeTipi] ON 

INSERT [dbo].[OdemeTipi] ([ID], [OdemeTipiAdi]) VALUES (1, N'Kredi Kartı')
INSERT [dbo].[OdemeTipi] ([ID], [OdemeTipiAdi]) VALUES (2, N'Havale/EFT')
INSERT [dbo].[OdemeTipi] ([ID], [OdemeTipiAdi]) VALUES (3, N'Nakit')
SET IDENTITY_INSERT [dbo].[OdemeTipi] OFF
GO
SET IDENTITY_INSERT [dbo].[SatinAlma] ON 

INSERT [dbo].[SatinAlma] ([ID], [UrunID], [TedarikciID], [Adet], [BirimFiyat], [ToplamFiyat], [KDVOrani], [SatinAlmaTarihi]) VALUES (1, 1, 1, 10, 1500, 15000, 20, CAST(N'2026-09-15T00:00:00.000' AS DateTime))
INSERT [dbo].[SatinAlma] ([ID], [UrunID], [TedarikciID], [Adet], [BirimFiyat], [ToplamFiyat], [KDVOrani], [SatinAlmaTarihi]) VALUES (2, 2, 2, 20, 800, 16000, 20, CAST(N'2026-09-20T00:00:00.000' AS DateTime))
INSERT [dbo].[SatinAlma] ([ID], [UrunID], [TedarikciID], [Adet], [BirimFiyat], [ToplamFiyat], [KDVOrani], [SatinAlmaTarihi]) VALUES (3, 4, 3, 30, 250, 7500, 20, CAST(N'2026-09-22T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[SatinAlma] OFF
GO
SET IDENTITY_INSERT [dbo].[Siparis] ON 

INSERT [dbo].[Siparis] ([ID], [MusteriID], [UrunID], [Adet], [ListeSatisFiyat], [BirimFiyat], [ToplamSatisFiyat], [KDV], [Aciklama], [SiparisTarihi]) VALUES (1, 1, 1, 2, 2500, 2250, 4500, 20, N'İskontolu toptan satış', N'2026-10-01')
INSERT [dbo].[Siparis] ([ID], [MusteriID], [UrunID], [Adet], [ListeSatisFiyat], [BirimFiyat], [ToplamSatisFiyat], [KDV], [Aciklama], [SiparisTarihi]) VALUES (2, 2, 3, 5, 150, 150, 750, 20, N'Perakende sipariş', N'2026-10-02')
INSERT [dbo].[Siparis] ([ID], [MusteriID], [UrunID], [Adet], [ListeSatisFiyat], [BirimFiyat], [ToplamSatisFiyat], [KDV], [Aciklama], [SiparisTarihi]) VALUES (3, 3, 5, 3, 5000, 4250, 12750, 20, N'Yönetici koltuğu alımı', N'2026-10-02')
SET IDENTITY_INSERT [dbo].[Siparis] OFF
GO
SET IDENTITY_INSERT [dbo].[StokTablo] ON 

INSERT [dbo].[StokTablo] ([ID], [UrunID], [Stok], [AlarmSeviyesi], [StokAlarm]) VALUES (1, 1, 15, 5, 0)
INSERT [dbo].[StokTablo] ([ID], [UrunID], [Stok], [AlarmSeviyesi], [StokAlarm]) VALUES (2, 2, 3, 5, 1)
INSERT [dbo].[StokTablo] ([ID], [UrunID], [Stok], [AlarmSeviyesi], [StokAlarm]) VALUES (3, 3, 50, 10, 0)
SET IDENTITY_INSERT [dbo].[StokTablo] OFF
GO
SET IDENTITY_INSERT [dbo].[Tedarikci] ON 

INSERT [dbo].[Tedarikci] ([ID], [TedarikciAdi], [Telefon], [Email], [Adres], [VergiDairesi], [VergiNo], [AktifMi]) VALUES (1, N'Ağaç A.Ş.', N'02123334455', N'info@agacas.com', N'İstanbul', N'Maslak', N'1234567890', 1)
INSERT [dbo].[Tedarikci] ([ID], [TedarikciAdi], [Telefon], [Email], [Adres], [VergiDairesi], [VergiNo], [AktifMi]) VALUES (2, N'Metal Sanayi Ltd.', N'02164445566', N'satis@metalsanayi.com', N'Kocaeli', N'Gebze', N'0987654321', 1)
INSERT [dbo].[Tedarikci] ([ID], [TedarikciAdi], [Telefon], [Email], [Adres], [VergiDairesi], [VergiNo], [AktifMi]) VALUES (3, N'Cam & Aydınlatma A.Ş.', N'02325556677', N'iletisim@camaydinlatma.com', N'İzmir', N'Konak', N'4567891230', 1)
SET IDENTITY_INSERT [dbo].[Tedarikci] OFF
GO
SET IDENTITY_INSERT [dbo].[Urun] ON 

INSERT [dbo].[Urun] ([ID], [MateryalID], [BoyutID], [UrunAdi], [Aciklama], [AktifMi]) VALUES (1, 1, 2, N'Ahşap Çalışma Masası', N'Meşe kaplama ofis masası', 1)
INSERT [dbo].[Urun] ([ID], [MateryalID], [BoyutID], [UrunAdi], [Aciklama], [AktifMi]) VALUES (2, 2, 3, N'Metal Kitaplık', N'5 raflı endüstriyel kitaplık', 1)
INSERT [dbo].[Urun] ([ID], [MateryalID], [BoyutID], [UrunAdi], [Aciklama], [AktifMi]) VALUES (3, 3, 1, N'Plastik Kalemlik', N'Masaüstü düzenleyici', 1)
SET IDENTITY_INSERT [dbo].[Urun] OFF
GO
ALTER TABLE [dbo].[Fatura]  WITH CHECK ADD  CONSTRAINT [FK_Fatura_OdemeTipi] FOREIGN KEY([OdemeTipiID])
REFERENCES [dbo].[OdemeTipi] ([ID])
GO
ALTER TABLE [dbo].[Fatura] CHECK CONSTRAINT [FK_Fatura_OdemeTipi]
GO
ALTER TABLE [dbo].[Fatura]  WITH CHECK ADD  CONSTRAINT [FK_Fatura_Siparis] FOREIGN KEY([SiparisID])
REFERENCES [dbo].[Siparis] ([ID])
GO
ALTER TABLE [dbo].[Fatura] CHECK CONSTRAINT [FK_Fatura_Siparis]
GO
ALTER TABLE [dbo].[KategoriUrun]  WITH CHECK ADD  CONSTRAINT [FK_KategoriUrun_Kategori] FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategori] ([ID])
GO
ALTER TABLE [dbo].[KategoriUrun] CHECK CONSTRAINT [FK_KategoriUrun_Kategori]
GO
ALTER TABLE [dbo].[KategoriUrun]  WITH CHECK ADD  CONSTRAINT [FK_KategoriUrun_Urun2] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urun] ([ID])
GO
ALTER TABLE [dbo].[KategoriUrun] CHECK CONSTRAINT [FK_KategoriUrun_Urun2]
GO
ALTER TABLE [dbo].[ListeFiyat]  WITH CHECK ADD  CONSTRAINT [FK_ListeFiyat_Urun1] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urun] ([ID])
GO
ALTER TABLE [dbo].[ListeFiyat] CHECK CONSTRAINT [FK_ListeFiyat_Urun1]
GO
ALTER TABLE [dbo].[LogTablo]  WITH CHECK ADD  CONSTRAINT [FK_LogTablo_Admin] FOREIGN KEY([AdminID])
REFERENCES [dbo].[Admin] ([ID])
GO
ALTER TABLE [dbo].[LogTablo] CHECK CONSTRAINT [FK_LogTablo_Admin]
GO
ALTER TABLE [dbo].[SatinAlma]  WITH CHECK ADD  CONSTRAINT [FK_SatinAlma_Tedarikci] FOREIGN KEY([TedarikciID])
REFERENCES [dbo].[Tedarikci] ([ID])
GO
ALTER TABLE [dbo].[SatinAlma] CHECK CONSTRAINT [FK_SatinAlma_Tedarikci]
GO
ALTER TABLE [dbo].[SatinAlma]  WITH CHECK ADD  CONSTRAINT [FK_SatinAlma_Urun] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urun] ([ID])
GO
ALTER TABLE [dbo].[SatinAlma] CHECK CONSTRAINT [FK_SatinAlma_Urun]
GO
ALTER TABLE [dbo].[Siparis]  WITH CHECK ADD  CONSTRAINT [FK_Siparis_Musteri] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteri] ([ID])
GO
ALTER TABLE [dbo].[Siparis] CHECK CONSTRAINT [FK_Siparis_Musteri]
GO
ALTER TABLE [dbo].[Siparis]  WITH CHECK ADD  CONSTRAINT [FK_Siparis_Urun] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urun] ([ID])
GO
ALTER TABLE [dbo].[Siparis] CHECK CONSTRAINT [FK_Siparis_Urun]
GO
ALTER TABLE [dbo].[StokTablo]  WITH CHECK ADD  CONSTRAINT [FK_StokTablo_Urun] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urun] ([ID])
GO
ALTER TABLE [dbo].[StokTablo] CHECK CONSTRAINT [FK_StokTablo_Urun]
GO
ALTER TABLE [dbo].[Urun]  WITH CHECK ADD  CONSTRAINT [FK_Urun_Boyut] FOREIGN KEY([BoyutID])
REFERENCES [dbo].[Boyut] ([ID])
GO
ALTER TABLE [dbo].[Urun] CHECK CONSTRAINT [FK_Urun_Boyut]
GO
ALTER TABLE [dbo].[Urun]  WITH CHECK ADD  CONSTRAINT [FK_Urun_Materyal] FOREIGN KEY([MateryalID])
REFERENCES [dbo].[Materyal] ([ID])
GO
ALTER TABLE [dbo].[Urun] CHECK CONSTRAINT [FK_Urun_Materyal]
GO
USE [master]
GO
